{% extends 'base.html' %}


{% block title %}Pesquisas CNAE{% endblock %}


{% block nav %}
{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="{% url 'index_cnae' %}">
		<img src="{% static 'img/logo-ibge-branco.png' %}" alt="Logo" class="nav-logo">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
	        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/sobre">Sobre o Projeto</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'list_classes_cnae' %}">
					Fazer Pesquisa
				</a>
			</li>
			<li class="nav-item dropdown boas-vindas active">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
				   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seu Logon</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item active" href="{% url 'minhas_pesquisas_cnae' %}">
						<i class="fas fa-database"></i> Consultar Pesquisas<span class="sr-only">(current)</span>
					</a>
					<a class="dropdown-item" href="/edit/user"><i class="fas fa-user-edit"></i> Editar Perfil</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Sair</a>
				</div>
			</li>
		</ul>
		<p class="boas-vindas">Bem-vindo, {{user.username}} <i class="fas fa-user"></i></p>
	</div>
</nav>
{% endblock %}


{% block main %}
{% load static %}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<h1 class="card-title">Suas pesquisas no CNAE</h1>
				{% if pesquisas|length > 0 %}
				<p class="card-text">
					Tabela com as pesquisas <code>CNAE</code> salvas.
				</p>
				<hr>
				<a href="{% url 'export_json' %}" class="btn btn-secondary">
					<span class="fas fa-file-export"></span> Exportar json
				</a>
				<a href="{% url 'api_cnae' %}" class="btn btn-secondary" target="_blank">
					<span class="fas fa-code"></span> Acessar API
				</a>
				<hr>
				<div class="table-responsive">
					<table class="table table-striped table-bordered text-left">
						<thead class="thead-dark">
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Data</th>
							<th scope="col">Seção</th>
							<th scope="col">Divisão</th>
							<th scope="col">Grupo</th>
							<th scope="col">Classe</th>
							<th scope="col">Ação</th>
						</tr>
						</thead>
						<tbody>
						{% for pesquisa in pesquisas %}
						{% if pesquisa.rel_ativo %}
						<tr>
							<td>{{ pesquisa.id }}</td>
							<td>{{ pesquisa.published_date|date:'d/m/Y H:i' }}</td>
							<td>{{ pesquisa.secao_descricao }}</td>
							<td>{{ pesquisa.divisao_descricao }}</td>
							<td>{{ pesquisa.grupo_descricao }}</td>
							<td>{{ pesquisa.classe_descricao }}</td>
							<td>
								<div class="btn-group-vertical">
									<a href="{% url 'detalhar_item' pesquisa.id %}" class="btn btn-info">
										<span class="fas fa-info-circle"></span> Detalhes
									</a>
									<a href="{% url 'deletar_item_cnae' pesquisa.id %}" class="btn btn-warning">
										<span class="fas fa-trash-alt"></span> Apagar
									</a>
								</div>
							</td>
						</tr>
						{% endif %}
						{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
				<div class="text-center mt-5 mb-5 jumbotron">
					<h5>Nenhuma pesquisa <code>CNAE</code> salva para este usuário.</h5>
				</div>
				{% endif %}
				<hr>
				<div class="text-right">
					<a href="{% url 'list_secoes_cnae' %}" class="btn btn-primary">
						Realizar pesquisa CNAE
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
