{% extends 'base.html' %}
{% load bootstrap %}


{% block title %}Seções CNAE{% endblock %}


{% block nav %}
    {% load static %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo-proj.png' %}" alt="Logo" class="nav-logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/sobre">Sobre o Projeto</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/cnae/list-secoes">Fazer Pesquisa<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown boas-vindas">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seu Logon</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><i class="fas fa-database"></i> Consultar Buscas</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-user-edit"></i> Editar Perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Sair</a>
                    </div>
                </li>
            </ul>
            <p class="boas-vindas">Bem-vindo, {{user.username}} <i class="fas fa-user"></i></p>
        </div>
    </nav>
{% endblock %}


{% block main %}
{% load static %}
 <h1>Escolha uma Seção</h1>
<hr>
<form action="{% url 'list_divisoes' %}" method="POST">
    {% csrf_token %}
    {% for radio in form.secoes %}
    <div class="form-check">
    {{ radio }}
    </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Próximo</button>
</form>
{% endblock %}
