{% extends 'base.html' %}


{% block title %}Seções CNAE{% endblock %}


{% block nav %}
    {% load static %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo-proj.png' %}" alt="Logo" class="nav-logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/sobre">Sobre o Projeto</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/cnae/list-secoes">Fazer Pesquisa<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown boas-vindas">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seu Logon</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><i class="fas fa-database"></i> Consultar Buscas</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-user-edit"></i> Editar Perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Sair</a>
                    </div>
                </li>
            </ul>
            <p class="boas-vindas">Bem-vindo, {{user.username}} <i class="fas fa-user"></i></p>
        </div>
    </nav>
{% endblock %}


{% block main %}
    {% load static %}
     <h1>Escolha uma Seção</h1>
    <hr>
    <form method="get" enctype="multipart/form-data" action="">
        {% for secao in secoes_collected %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sessao" id="sessaoCheck{{ secao.id }}"
                   value="{{ secao.id }}">
            <label class="form-check-label" for="sessaoCheck{{ secao.id }}">
            {{ secao.descricao }}
            </label>
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Próximo</button>
    </form>
    <!--<table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Seção</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for secao in secoes_collected %}
            <tr>
                <td>{{ secao.id }}</td>
                <td>{{ secao.descricao }}</td>
                <td><a class="btn btn-primary btn-xs"  href="./list_divisoes/{{secao.id}}/">Enviar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>-->
{% endblock %}
