{% extends 'base.html' %}


{% block title %}Sobre o projeto{% endblock %}


{% block nav %}
    {% load static %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo-proj.png' %}" alt="Logo" class="nav-logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/sobre">Sobre o Projeto<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cnae/list-secoes">Fazer Pesquisa</a>
                </li>
                <li class="nav-item dropdown boas-vindas">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seu Logon</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/perfil/pesquisas">
                            <i class="fas fa-database"></i> Consultar Pesquisas
                        </a>
                        <a class="dropdown-item" href="#"><i class="fas fa-user-edit"></i> Editar Perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Sair</a>
                    </div>
                </li>
            </ul>
            <p class="boas-vindas">Bem-vindo, {{user.username}} <i class="fas fa-user"></i></p>
        </div>
    </nav>
{% endblock %}


{% block main %}
    {% load static %}
    <ul class="list-unstyled">
        <li class="media">
            <div class="media-body">
                <h1>Sobre o projeto</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ligula augue, luctus quis
                    ante ac, viverra feugiat nibh. In vitae commodo arcu. Suspendisse facilisis magna non cursus
                    placerat. Vivamus varius lacus non massa varius varius. Nulla blandit leo nec purus mattis,
                    eget tincidunt nunc condimentum. Phasellus suscipit, libero ac feugiat maximus, nibh nisi
                    interdum purus, at mollis ante nunc vitae ligula.</p>
                <p>Curabitur non gravida quam. Maecenas vitae dapibus leo. Aenean vestibulum eget nibh at
                    fringilla.</p>
                <p>Fusce feugiat, erat quis tincidunt feugiat, dui orci tempus tortor, eu venenatis leo lectus a
                    odio. Nullam eu velit nec sapien aliquet accumsan. Fusce et elit ullamcorper, sollicitudin
                    sapien et, finibus lorem. In nec vehicula libero. Etiam porttitor sagittis euismod. Quisque
                    pharetra, diam sed volutpat egestas, enim arcu ornare enim, vitae gravida tortor risus at
                    sapien.</p>
            </div>
        </li>
        <li class="media my-4">
            <div class="media-body">
                <h2 class="mt-0 mb-1">Fulano</h2>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
            <img src="{% static 'img/avatar-02.jpg' %}" class="ml-3 sobre-avatar" alt="Avatar 2">
        </li>
        <li class="media">
            <img src="{% static 'img/avatar-01.jpg' %}" class="mr-3 sobre-avatar" alt="Avatar 1">
            <div class="media-body">
                <h2 class="mt-0 mb-1">Caboclo</h2>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </li>
    </ul>
{% endblock %}
