{% extends 'base.html' %}


{% block title %}Sobre o projeto{% endblock %}


{% block nav %}
    {% load static %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo-proj.png' %}" alt="Logo" class="nav-logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/sobre">Sobre o Projeto<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cnae/list-secoes">Fazer Pesquisa</a>
                </li>
                <li class="nav-item dropdown boas-vindas">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seu Logon</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/perfil/pesquisas">
                            <i class="fas fa-database"></i> Consultar Pesquisas
                        </a>
                        <a class="dropdown-item" href="/edit/user"><i class="fas fa-user-edit"></i> Editar Perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Sair</a>
                    </div>
                </li>
            </ul>
            <p class="boas-vindas">Bem-vindo, {{user.username}} <i class="fas fa-user"></i></p>
        </div>
    </nav>
{% endblock %}


{% block main %}
    {% load static %}
    <ul class="list-unstyled">
        <li class="media">
            <div class="media-body">
                <h1>Sobre o trabalho</h1>
                <img src="{% static 'img/python-powered-h-70x91.png' %}" alt="Powered by Python" class="float-left m-3">
                <p>A presente ferramenta contempla um minissistema web, desenvolvido em Python. Mais precisamente,
                    utilizando o framework Django.</p>
                <p>O desenvolvimento deste sistema se deu pela necessidade de aplicar e comprovar o aprendizado do uso
                    da linguagem Python durante o curso da disciplina Tópicos de Informática, ministrado pelo
                    professor Fabrício Gustavo Henrique, no primeiro semestre de 2019, para a turma do sexto semestre
                    do curso de Análise e Desenvolvimento de Softwares, da Fatec de Ribeirão Preto.</p>
                <hr>
                <h2>Objetivo:</h2>
                <ul>
                    <li>Desenvolver uma aplicação utilizando a linguagem de programação Python de acordo com o tema
                        escolhido em Sala de Aula.</li>
                </ul>
                <h2>Requisitos:</h2>
                <img src="{% static 'img/ft-fabricio.jpg' %}" alt="Professor Fabrício Henrique" class="float-right m-4">
                <ul>
                    <li>Implementar uma aplicação que contenha pelo menos dez interfaces gráficas (UI).</li>
                    <ul>
                        <li>O tipo de UI pode ser definido pelos integrantes: Console, Formulário ou Web.</li>
                    </ul>
                    <li>Armazenar dados de maneira persistente utilizando o SGBD da sua preferência.</li>
                    <ul>
                        <li>Os dados precisam ser armazenados em pelo menos três tabelas.</li>
                        <li>Para cada tabela codificar na UI no mínimo três operações, dentre elas: Insert, Update,
                            Delete e/ou Select.</li>
                    </ul>
                    <li>Elaborar, necessariamente, as seguintes UI:</li>
                    <ul>
                        <li>Login: em que o usuário deverá fornecer um nome de usuárioe uma senha. O acesso as
                            funcionalidades do sistema ocorrem apenas para usuários previamente cadastrados.</li>
                        <li>Sobre: que apresente dados do projeto {tema escolhido e objetivo} e dos desenvolvedores:
                            {nome completo e código de matrícula}.</li>
                        <li>Menu: em que o usuário poderá escolher a opção desejada da aplicação.</li>
                    </ul>
                    <li>Implementar uma funcionalidade que exporta todos os dados da aplicação no formato JSON. O
                        arquivo deve ser compactado no formato zip.</li>
                    <li>Implementar uma funcionalidade para importa dados.</li>
                    <ul>
                        <li>Os dados devem ser disponibilizados em um endereço da web.</li>
                        <li>Usar o módulo Requests ou URLlib.</li>
                        <li>Armazenar os dados importados em uma tabela.</li>
                        <li>Apresentar os dados importados em uma UI da aplicação.</li>
                    </ul>
                </ul>
            </div>
        </li>
        <li>
            <div class="media-body">
                <hr>
                <h2>Sobre o projeto</h2>
                <img src="{% static 'img/django-logo-negative.jpg' %}" alt="Django" class="float-right m-3">
                <h3>Tema:</h3>
                <p>Desenvolver uma aplicação web em Django, que consulte uma base json online e a salve em um banco de
                    dados</p>
                <h3>Objetivo:</h3>
                <p>O desenvolvimento deste sistema se deu pela necessidade de aplicar e comprovar o aprendizado do uso
                    da linguagem Python durante o curso da disciplina Tópicos de Informática, ministrado pelo
                    professor Fabrício Gustavo Henrique, no primeiro semestre de 2019, para a turma do sexto semestre
                    do curso de Análise e Desenvolvimento de Softwares, da Fatec de Ribeirão Preto.</p>
                <p>Os alunos buscaram aplicar o conhecimento obtido nas técnicas de exportação de dados em arquivos
                json, criar arquivo compactado do tipo zip através de comandos Python, realizar CRUD em banco de dados,
                criação de interface gráfica, entre outras habilidades, que são comprovadas ao se criar uma aplicação
                Django.</p>
                <p>Não se buscou desenvolver um sistema completo. Fatores como seguraça e usabilidade não foram
                    estudados ou implementados em sua completude. Apenas o minimo necessário foi desenvolvido para a
                    aplicação.</p>
                <p>O sistema foi implementado localmente, não havendo a oportunidade de testá-lo em reais condições após
                deploy.</p>
            </div>
        </li>
        <li>
            <div class="media-body">
                <hr>
                <h2>Desenvolvido por <small>(alunos):</small></h2>
            </div>
        </li>
        <li class="media my-4">
            <div class="media-body">
                <h3 class="mt-0 mb-1">Elcior Ferreira de Santana Carvalho</h3>
                <h4>RA: 2840481623010</h4>
            </div>
        </li>
        <li class="media">
            <div class="media-body">
                <h3 class="mt-0 mb-1">Fernando Fraga</h3>
                <h4>RA: 2840481623015</h4>
            </div>
        </li>
    </ul>
{% endblock %}
